@model List<DoggoAppo.Models.DogViewModel>

	@{
	}

	<div>
		<h1>HelloWorld Controllah</h1>
		<p>This is the index page of ze HelloWorld Controllah</p>

		<ul>
			@foreach(var dog in Model)
			{
			<li>@dog.Name (Level @dog.Age)</li>
			}
		</ul>
	</div>