@model DoggoAppo.Models.DogViewModel

@{
}

<div>
    <h1>HelloWorld Controllah</h1>
    <p>This is the index page of ze HelloWorld Controllah</p>
    <h4>A dog named @Model.Name say hello</h4>
    <h4>@Model.Name is @Model.Age years old</h4>
</div>